- var title = title || 'Watson';
doctype html
html
	head
		if searchTerm
			title= searchTerm + ' | ' + title
		else
			title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/fonts/fonts.css')
	body
		block content
	footer
		| Made with &hearts; by Code Warriors. | 
		a(href='/about') Learn more
		|  | 
		a(href='https://github.com/namansood/watson') Source code
		|  | 
		a(href='https://drive.google.com/file/d/1aQdsWGe9u7RFncbhPcJdD6GepquqS7u8/view') Case study
